body {
    background-color:#e3e0cf;
    color: #606060 ;
}
.right {
    float:right;
    width: 45%;    
}
.left {
    float:left;
    width: 45%;    
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.centered-table {
   margin-left: auto;
   margin-right: auto;
}

a:link {
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    color: brown;
}

a:active {
    color: blue;
}

.btn {
    background-color: #c5d5cb;
    max-width: 100%;
}
